.text-purple {
    color: #a62ece !important;
}
.bg-disabled {
    color: #222426 !important;
}
.node-effect {
    transition: background-color 50ms ease-in-out;

}
.node-effect:hover {
    background-color: rgba(255, 255, 255, 0.1);
}