.text-purple {
    color: #a62ece !important;
}
.bg-disabled {
    color: #222426 !important;
}
.node-effect {
    transition: background-color 50ms ease-in-out;

}
.node-effect:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.cursor-pointer {
    cursor: pointer;
}
#guide-container > div > h2 {
    text-align: center;
    padding-top: 3rem;
}
#guide-container > div > h3 {
    padding-bottom: 1rem;
    padding-top: 3rem;
}

@media (min-width: 768px) {
  #aa-code-example {
    border: 3px solid grey;
    border-radius: 15px;
    margin-bottom: 1.5rem;
  }
}
